<!DOCTYPE html>
<html>

<head>
    <%- include('head.ejs') %>
</head>

<body>
    <%- include('body.ejs') %>

        <!-- EJS Here -->
        <% if(weather !== null) { %>
            <div class="container">
                <p class="city">
                    <%= city %>
                </p>
                <img class="center" src="http://openweathermap.org/img/w/<%= weather_icon %>.png" alt="Weather Icon">
                <p>Temperature: <%= temp %>&#176;</p>
                <p>Conditions: <%= currentConditions %></p>
                <p>Winds: <%= `${wind_direction} at ${wind}`%>/mph</p>
                <p>Humidty: <%= humidity %>&#37;</p>  
                
                <% } %>

                    <% if(error !== null) { %>
                        <p>
                            <%= error %>
                        </p>
                        <% } %>
            </div>
            <!-- End EJS -->

</body>

</html>